.btn {
    background-color: #6aaf08;
    border: none;
    border-radius: 6px;
    padding: 15px 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 400;
    transition: background-color $trs-time;

    &:hover {
        background-color: #5f9d07;
        color: #fff;
    }
}