@import 'normalize';
@import 'bootstrap-grid';
@import 'variables';
@import 'mixins';
@import 'base';
@import 'components';
@import 'zloty/menu';
@import 'zloty/header';
@import 'zloty/testimonials';
@import 'lex/about';
@import 'lex/gallery';
@import 'tomasz/services';
@import 'tomasz/contact';
@import 'tomasz/footer';