.contact {
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(246, 246, 246);

  .contact-main-text {
    width: 100%;

    h1 {
      color: black;
      font-size: 32px;
      font-weight: 600;
    }

    hr {
      background: rgba(106, 175, 8, 0.7);
      width: 70px;
      height: 3px;
      border: 0;
    }

    p {
      font-size: 18px;
    }

    padding-bottom: 50px;
  }

  .adress {

    h2 {
      color: black;
      font-size: 18px;
      font-weight: 600;
    }

    hr {
      background: rgba(221, 221, 221, 0.7);
      width: 70px;
      height: 3px;
      border: 0;
    }

    p {
      line-height: 30px;
      font-size: 15px;
    }

    margin: 0 auto;
    padding-bottom: 30px;
  }

  h1 {
    width: 100%;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    padding-bottom: 30px;
  }

  .form-group {
    margin: 0 auto;
  }

  .form-control {
    width: 100%;
    padding: 20px 20px;
    margin: 10px;
    font-size: 18px;
    color: #444;
    border: 1px solid #ddd;
  }

  button {
    margin: 30px 0 100px 0;
    color: white;
  }

}