.services {
  background-color: rgb(106, 175, 8);
  padding: 100px 0;
  text-align: center;
  color: white;


  h2 {
    font-size: 36px;
  }


  .ervices__heading p {
    font-size: 18px;
  }

  .description p {
    font-size: 14px;
    font-weight: 200;
  }


  h2 {
    @include underlinedH1(70px, #ffffff, rgba(255, 255, 255, 0.6));
    margin: 0;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }


  .description {
    margin: 0 auto;

    h3 {
      font-size: 24px;
      font-weight: 400;
    }

    p {
      margin-bottom: 50px;

      @include screen(lg) {
        margin-bottom: 15px;
      }
    }
  }

  img {
    border: 10px solid rgba(10, 10, 10, .15);
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  &__heading {
    margin-bottom: 70px;

    h3 {
      font-size: 18px;
      font-weight: 400;
    }
  }


}