.section-about {
    margin-top: 15vh;
    margin-bottom: 15vh;

    &__article {

        &__h1 {
            @include underlinedH1(25%, #666666, $main-color);
        }

        &__span {
            color: $main-color;
            font-weight: 700;
        }

        &__p {
            margin: 25px 0;
            text-align: justify;
        }

        &__btn {
            margin: 8% auto 13% auto;
            color: #fff;
        }
    }

    &__columnOne,
    &__columnTwo {

        &__h2 {
            margin: 15px 0;
            font-weight: $semiBold-font;
        }

        & img {
            width: 100%;
            display: block;
        }
    }
}